.background-green {
    background-color: #083;
}

.position-relative {
    position:relative;
}

.position-absolute {
    position: absolute
}

.no-left {
    left: 0;
}

.no-right {
    right: 0;
}

.no-margin-right {
    margin-right: 0;
}

.two-em-height {
    height: 2em;
}