body {
    margin: 0;
}

.background-green {
    background-color: #083;
}

.position-relative {
    position:relative;
}

.position-absolute {
    position: absolute
}

.no-left {
    left: 0;
}

.no-right {
    right: 0;
}

.no-margin-right {
    margin-right: 0;
}

.five-em-height {
    height: 5em;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.padding-five-pixels {
    padding: 5px;
}

.margin-auto {
    margin: auto;
}

.header {
    height: 5em;
    background-color: #008833;
    width: 100%;
}

.header-icon {
    padding: 5px;
}

#autocompleteSearch {
    width: 95%;
    display: block;
    margin: auto;
    border: none;
    border-radius: 2px;
    font-size: 1.25em;
}

#searchLogo {
    position: absolute;
    right: 5%;
    margin-top: -1.25em;
}